@media screen and (max-width: 768px) {
  .table-container {
    overflow-x: scroll;
  }
}
table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

th {
  font-weight: bold;
}
